Tuples are immutable, they are indexed, The first index is 0.

The two methods for tuples are count and index. There may be only two methods in tuple as we cannot change the elements in tuple whereas lists are mutable.

In [1]:
t1=(2,89,45,4+2j,"YES")

In [2]:
t1

(2, 89, 45, (4+2j), 'YES')

In [3]:
t1.count(2)

1

In [4]:
t1.index(45)

2

Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

Sets are the datatype which do not allow duplicate items.

In [7]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
u = set(List)
nlist = list(u)
print(nlist)

[1, 2, 3, 4]

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Both are used for adding sets, but the difference is union adds the set elements in a new set whereas updatee add in the existing set.

In [8]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

nset = set1.union(set2, set3)
print(nset)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

set1.update(set2, set3)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

It is a colllection of key value pair. A dictionary is unordered.

In [11]:
dict1={ "name":["Iffat","Saima"],"age":(19,18) }

In [12]:
dict1

{'name': ['Iffat', 'Saima'], 'age': (19, 18)}

Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Yes we can

In [14]:
person = {'name': 'Iffat', 'age': 20, 'address': {'city': 'Mumbai', 'state': 'Maharashtra'}}

print(person['name'])                  
print(person['age'])                   
print(person['address']['state'])     
print(person['address']['city'])

Iffat
20
Maharashtra
Mumbai

Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [15]:
dict1 = {'language': 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [20]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [21]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [22]:
dict1.keys()

dict_keys(['Sport', 'Teams'])